### Files

In [9]:
import os
import glob
import json

import pandas as pd

data_folder = r'/Users/xiao/Projects/git/Coding-Practice/data'
data_file = os.path.join(data_folder, 'train.csv')

### CSV

* ```sep```
* ```header```: set header line
* ```names```: set header column names
* ```index_col```: set index column
* ```usecols```: get a subset of dataset, column order will be as original dataset

In [14]:
# header
pd.read_csv(data_file, header=0).head(1)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False

In [11]:
# index_col
pd.read_csv(data_file, index_col=0).head(1)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False

In [20]:
# usecols
print(pd.read_csv(data_file, usecols=['Cabin', 'Destination', 'HomePlanet']).head(1))

# usecols remove columns
pd.read_csv(data_file, usecols=lambda col : col not in ['Age', 'VIP', 'FoodCourt', 'Spa']).head(1)

  HomePlanet  Cabin  Destination
0     Europa  B/0/P  TRAPPIST-1e

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,RoomService,ShoppingMall,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,0.0,0.0,0.0,Maham Ofracculy,False